@import url( 'https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap' );

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	font-family: 'Orbitron', sans-serif;
}

.card_zoom:hover {
	transform   : scale( 1.03 );
	transition  : transform 0.3s cubic-bezier( 0.175, 0.885, 0.32, 1.275 );
}
